@function valueFromArray($arr, $key) {

    @each $index, $value in $arr {
        @if($key == $index )
        {
            @return $value;
        }
    }
}

@function findLighterColor($color, $light: 96%){
    @if(type-of($color) == 'color'){

        $result: null;

        //@debug "Color: #{$color} | Light: #{$light} | Lightness: #{lightness($color)}";

        $result: change-color($color, $lightness: $light);

        //@debug "result --> #{$result}";

        @return $result;
    }
}

@function findDarkColor($color, $dark: 29%){
    @if(type-of($color) == 'color'){
        $result: darken( $color, 10% );
        @return $result;
    }
}
