@import "functions";
@import "math";
@import "vars";


$min: null;
$max: null;
$steps: null;

//------------margins

@each $spacing_key, $spacing_value in $spacing
{



  @each $range_key, $range_value in $range {

    $min: valueFromArray($range_value, 'min');
    $max: valueFromArray($range_value, 'max');
    $steps: valueFromArray($range_value, 'steps');



    @while $min <= $max {
      .#{$spacing_value}-#{$min}{
        #{$spacing_key}: #{$min}px;
      }

      @each $directions_key, $directions_value in $directions
      {
        .#{$spacing_value}#{$directions_value}-#{$min}{
          #{$spacing_key}-#{$directions_key}: #{$min}px;
        }
      }


      $min: $min + $steps;
    }







  }


}

