@import "functions";
@import "math";
@import "vars";


$min: null;
$max: null;
$steps: null;

//------------spacing

@each $spacing_key, $spacing_value in $spacing
{
  @each $range_key, $range_value in $range {

    $min: valueFromArray($range_value, 'min');
    $max: valueFromArray($range_value, 'max');
    $steps: valueFromArray($range_value, 'steps');

    @while $min <= $max {
      .#{$spacing_value}-#{$min}{
        #{$spacing_key}: #{$min}px !important;
      }

      @each $directions_key, $directions_value in $directions
      {
        .#{$spacing_value}-#{$directions_value}-#{$min}{
          #{$spacing_key}-#{$directions_key}: #{$min}px !important;
        }
      }

      $min: $min + $steps;
    }


  }


}

//------------properties

$min: 0;
$max: 10;
$steps: 1;


@while $min <= $max {

  .radius-#{$min}{
    border-radius: #{$min}px !important;
  }

  @each $directions_tb_key, $directions_tb_value in $directions_top_bottom
  {
    @each $directions_lr_key, $directions_lr_value in $directions_left_right
    {
      .radius-#{$directions_tb_value}-#{$directions_lr_value}-#{$min}{
        border-#{$directions_tb_key}-#{$directions_lr_key}-radius: #{$min}px !important;
      }
    }

  }
  $min: $min + $steps;
}


$min: 15;
$max: 50;
$steps: 5;


@while $min <= $max {

  .radius-#{$min}{
    border-radius: #{$min}px !important;
  }

  @each $directions_tb_key, $directions_tb_value in $directions_top_bottom
  {
    @each $directions_lr_key, $directions_lr_value in $directions_left_right
    {
      .radius-#{$directions_tb_value}-#{$directions_lr_value}-#{$min}{
        border-#{$directions_tb_key}-#{$directions_lr_key}-radius: #{$min}px !important;
      }
    }

  }
  $min: $min + $steps;
}


//------------auto

@each $directions_lr_key, $directions_lr_value in $directions_left_right
{
  .mr-#{$directions_lr_value}-auto{
    margin-#{$directions_lr_key}: auto !important;
  }
}



//-------Tooltip Content Paddingless

.tooltip-content-paddingless {
  > .tooltip-content{
    padding: 0 !important;
  }
}